@media screen and (max-width: 1200px) {
    .col-4 {
        max-width: 80%;
        display: flex;
        justify-content: center;
    }

    .about .title {
        margin-left: 0;
    }

    .about .reverse {
        flex-direction: column-reverse;
    }

    .forms-disclosure .justify-content-end {
        justify-content:center !important;
    }

    .forms-disclosure .col-4 {
        justify-content: left !important;
    }

    .forms-disclosure .title {
        margin-right: 0;
    }
}

@media screen and (max-width: 1100px) {
    .start {
        background: radial-gradient(68.58% 67.02% at 50% 50%, rgba(0, 0, 0, 0.00) 53.6%, rgba(0, 0, 0, 0.50) 91.75%), url(../img/landspace900x.webp), lightgray 50% / cover no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1084px) {
    .data p {
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 991px) {
    ul {
        gap: 0 !important;
    }
}

@media screen and (max-width: 700px) {
    .start {
        background: radial-gradient(68.58% 67.02% at 50% 50%, rgba(0, 0, 0, 0.00) 53.6%, rgba(0, 0, 0, 0.26) 91.75%), url(../img/landspace500x.webp), lightgray 50% / cover no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    .data .row {
        margin: 25%;
        margin-bottom: 10%;
    }

    .hidden {
        display: block;
    }

    .visible {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .start {
        background: radial-gradient(68.58% 67.02% at 50% 50%, rgba(0, 0, 0, 0.00) 53.6%, rgba(0, 0, 0, 0.26) 91.75%), url(../img/landspace500x.webp), lightgray 50% / cover no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 60%;
    }

    .navbar {
        padding: 35px 18px;
    }

    .main-races p,.about p,.forms-disclosure p,.sponsors p,.sponsorship-issue p{
        font-size: 1rem;
    }

    .title-1,.title-2 {
        font-size: 2rem;
    }

    .title {
        margin-top: 70px;
    }

    .col-4 {
        max-width: 80%;
    }

    .data .col-md-auto {
        padding-left: 0; 
        padding-right: 0;
    }

    .about {
        margin-top: 50px;
    }

    .sponsorship-issue {
      margin-top: 100px;
    }

    .forms-disclosure,.sponsors {
        margin-top: 105px
    } 
}